@media only screen and (max-width:540px) {
    body {font-size:10pt;}
    .container {width:100%!important;padding:10px;}
    .headerImg {width: 100%!important;height: 120px!important;}
    .audio {transform:scale(0.55) translateY(10px)!important;}
}
@media only screen and (min-width:700px) {
    body {font-size:14.5pt;}
}
@media only screen and (min-width:900px) {
    body {font-size:12pt;}
}

body {
    height: 100vh;
    background: black;
    margin: 0;
    color: white;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header {
  position:relative;
}

.audio {
  position:absolute;
  top:-10px;
  left:3px;
  width:50px;
  height:50px;
  overflow:hidden;
  border-radius:50%;
  transform:scale(0.8)
}

audio {
  transform:translate(-2px, -2px)
}

ul {margin:0;}

audio::-webkit-media-controls-current-time-display {
  color: #f1f3f4;
}

audio::-webkit-media-controls-play-button {
  transform:scale(1.3)
}

a {
  color:#e6e6e6;;
  text-decoration:none;
  transition:0.2s all ease
}

a:hover {color:gray;}

.content {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
  width:630px;
}

#home { background:transparent;padding:0; }

#inner {
  display:grid;
  grid-template-columns:50% 50%;
}
.container:not(.header) {
    display:none;
    background: rgb(42 60 82 / 25%);
    border-radius: 5px;
    padding: 5px;
    animation:fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

body::before {
    content: "";
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.99609375%200%200%200%200%200%200.99609375%200%200%200%200%200%200.99609375%200%200%200%200%200%200.1015625%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E');
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    pointer-events: none;
}

.container02 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headerImg {
    width: 39.375rem;
    height: 10.875rem;
    border-radius: 0.375rem;
    overflow: hidden;
    margin-bottom: 8px;
}

.headerImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container02 > div {
    height: 45px;
}

p {
    margin: 0;
}

option {
    padding: 0!important;
}

#currentTime {
    position: relative;
    cursor: default;
    margin: 3px 3px 5px 3px;
    text-align: right;
    height:21.6px;
}

#currentTime::before {
    content: "";
    border-bottom: 1px solid #ffffff4a;
    width: 88%;
    height: 11.5px;
    position: absolute;
    left: 0;
}

mark {
  background:rgb(97 141 178 / 20%);
  color:currentColor;
}
