body {
    background: radial-gradient(50% 50% at 50% 50%, rgba(37,41,64,0.753) 0%, rgba(0,0,0,0.753) 100%), url(https://raw.githubusercontent.com/vixhr/vixhr.github.io/main/images/BG_Gehenna_Collection.jpg);
    background-position: 0% 0%, center;
    background-size: cover;
}

html {
    background: rgb(0 0 0);
}

.container {
    background: rgba(0,0,0,0.639);
    border-radius: 0.5rem;
    color: white;
    padding: 5px 15px;
    margin-bottom: 0.75rem;
}

.container-flex {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3px;
    transform: translateX(-1px);
}

.mari-inner {
    width: 35rem;
}

.container-type-2 {
    font-size: 0.75rem;
}

.container.container-type-2 span {
    display: block;
    margin-bottom: 2px;
}

.container-flex .container-type-2 {
    padding: 10px 15px;
}

span.title {
    font-size: 1.25em;
}

p#mari-text {
    margin: 0;
    font-size: 0.875rem;
    color: #FFE9BF;
    font-weight: bold;
}

span.subtitle {
    display: block;
    font-size: 0.75rem;
    line-height: 1.2;
}
