body { 
	font-family:'Be Vietnam Pro', sans-serif;
}
:root {
	--accent:rgb(58 2 84/10%);
}
.content {
	margin: 5px 150px;
}

.content2 {
    margin: 50px auto;
    width: 600px;
    /* justify-content: center; */
    background: #f6f6f6;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.flex {
	display: flex;
	gap: 18px;
	align-items:center;
}

.name span {
	font-weight: bold;
	font-size: 200%;
}

.additionalname {
	opacity: 0;
	display: none;
	transition: 0.3s all ease;
}

.name:hover .additionalname {
	opacity: 1;
	display: block;
}

.tags {
	display: flex;
	gap: 5px;
}

.tags span {
	background: var(--accent);
	border-radius: 5px;
	padding: 4px;
}

.name {
	display: inline;
}

blockquote::before {
	content: "";
	border-bottom: 2px solid black;
	width: 2.45em;
	height: 2px;
	position: absolute;
	left: -42px;
	top: 6px;
}

blockquote {
	position: relative;
}

.spoiler {
	background: black;
	color: black;
}

.spoiler:hover {
	color: white;
}

.oshis {
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
}

.oshi-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s ease 0s;
/* */
    width: 400px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: rgb(66 66 66 / 10%) 0px 20px 40px;
    transition: all 0.3s ease-in-out 0s;
}

.oshi-caption {
    z-index: 2;
    text-align: left;
    word-spacing: 100vw;
    background: black;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0, 1, 0, 1) 0s;
    line-height: 1;
    padding: 0.5em;
    font-size: 0.8em;
    border-left: solid 0.5em var(--color);
    border-radius: 0.25em 0px 0px 0.25em;
    transform: translateX(105%);
    position: absolute;
    bottom: 30px;
    color: white;
}
.oshi-container:hover {
    background: var(--color);
}

.oshi-container img {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
    transition: all 300ms ease-in-out 0s;
}

.caption {
    margin-bottom: 3px;
    font-size: 90%;
    color: #6e6074;
}

.heading {
    font-size: 120%;
    font-weight: bold;
    margin: 5px 5px 7px 5px;
}

.oshi-container:hover .oshi-caption {
    transform: translateX(0.5em);
}

::-webkit-scrollbar {
	display:none;
}

html {
    box-shadow: 0 0 0 5px inset #efd9ff;
}

.grid-3 div {
    min-height: 200px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: visible;
    background: #f1f1f1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.grid-3 {
    display: grid;
    gap: 5px;
    grid-template-columns: 33% 33% 33%;
    background: #cbcbcb;
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}

.b {margin:5px 0 10px;}

.icon img {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.icon {
    border-radius: 50%;
    border: 5px solid transparent;
    box-shadow: 0 0 0 5px #c8c8c8;
    width: 150px;
    height: 150px;
}
