body {
    height: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #fef2dc;
}
:root {
	--accent:rgb(58 2 84/10%);
}
.content {
	margin: 5px 150px;
}
.content-3 {
	margin: 175px;
}

.content-2 {
    width: 25em;
    margin: 50px auto;
    background: url(https://pbs.twimg.com/media/DESlvN7UMAMxL-k?format=jpg&name=900x900);
    box-shadow: 0rem 0rem 0.875rem 0rem #382622;
    background-size: 100%;
    padding: 10px;
    border-radius: 300px 300px 0 0;
}

.flex {
	display: flex;
	gap: 18px;
	align-items:center;
}

.name span {
	font-weight: bold;
	font-size: 200%;
}

.additionalname {
	opacity: 0;
	display: none;
	transition: 0.3s all ease;
}

.name:hover .additionalname {
	opacity: 1;
	display: block;
}

.tags {
	display: flex;
	gap: 5px;
}

.tags span {
	background: var(--accent);
	border-radius: 5px;
	padding: 4px;
}

.name {
	display: inline;
}

blockquote::before {
	content: "";
	border-bottom: 2px solid black;
	width: 2.45em;
	height: 2px;
	position: absolute;
	left: -42px;
	top: 6px;
}

blockquote {
	position: relative;
}

.spoiler {
	background: black;
	color: black;
}

.spoiler:hover {
	color: white;
}

.oshis {
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
}

.oshi-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s ease 0s;
/* */
    width: 400px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: rgb(66 66 66 / 10%) 0px 20px 40px;
    transition: all 0.3s ease-in-out 0s;
}

.oshi-caption {
    z-index: 2;
    text-align: left;
    word-spacing: 100vw;
    background: black;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0, 1, 0, 1) 0s;
    line-height: 1;
    padding: 0.5em;
    font-size: 0.8em;
    border-left: solid 0.5em var(--color);
    border-radius: 0.25em 0px 0px 0.25em;
    transform: translateX(105%);
    position: absolute;
    bottom: 30px;
    color: white;
}
.oshi-container:hover {
    background: var(--color);
}

.oshi-container img {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
    transition: all 300ms ease-in-out 0s;
}

.caption {
    margin-bottom: 3px;
    font-size: 90%;
    color: #6e6074;
}

.heading {
    font-size: 120%;
    font-weight: bold;
    margin: 5px 5px 7px 5px;
}

.oshi-container:hover .oshi-caption {
    transform: translateX(0.5em);
}

::-webkit-scrollbar {
	display:none;
}

.grid-3 div {
    min-height: 200px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: visible;
    background: #f1f1f1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.grid-3 {
    display: grid;
    gap: 5px;
    grid-template-columns: 33% 33% 33%;
    background: #cbcbcb;
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}

.b {margin:5px 0 10px;}

.inner {
    width: 795px;
    display: flex;
    flex-direction: row-reverse;
}

.tomoya {
    transform:translate(171px, -130px);
    z-index: -1;
    position: absolute;
}

.tomoya img {
    animation: tomoSway 5s infinite ease;
    pointer-events: none;
    user-select: none;
    width: 81%;
}

.bio, .int, .more, .dni {
    display: block;
    width: 80%;
}

@keyframes tomoSway {
    0% {
        transform: rotate(2deg);
    } 
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

span.big {
    font-weight: bold;
    font-size: 125%;
    text-transform: capitalize;
}

span.bio {
    font-size: 80%;
    color: #524a47;
    margin-bottom: 15px;
}

.int, .more, .dni {
    margin-bottom: 20px;
}
